@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-background: #0e1016;
  --color-darkblue: #100425;
  --color-darksky: #5dffff;
  --color-slightly: #dc00d3;
  --color-whitetext: #e4ded7;
  --font-code: "Google Sans Code", monospace;
  --font-josefinsans: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

body {
  font-family: font-josefinsans, sans-serif;
}

animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
